<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> In-class Lab <br> (Day 2) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

##  Table of Content

1. **[String](#string)**
2. **[List](#list)**
2. **[Tuple](#tuple)**
3. **[Set](#set)**
4. **[Dictionary](#dict)**
5. **[Conditional Statements](#cond)**

### Let's begin with some hands-on practice exercises

<a id="string"></a>
## 1. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Create a string with the name 'country' and 'India' as its element. Perform the following on it:
                    <ol type = "1">
                        <li>Find its length. </li>
                        <li>Extract it first two letters. </li>
                        </ol></b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
country = "India"

In [5]:
print(f'lenght of function {len(country)}')
print(f"first two letter of variable 'country' is {country[0:2]}")

lenght of function 5
first two letter of variable 'country' is In


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [22]:
# type your code here
strings = "Today is a sunny day"

l = strings.split()
print(f'1. {l[0]} , {l[3]}')
print(f'2. {strings[-2:]}')
print(f'3. {strings[::-1]}')

1. Today , sunny
2. ay
3. yad ynnus a si yadoT

<a id="list"> </a>
## 2. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [24]:
# type your code here

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

print(len(mix_list_1))

5

**b. Check the membership of '24' in mix_list_1**

In [25]:
# type your code here

print(24 in mix_list_1)

True


**c. Concatenate the mix_list_1 and mix_list_2**

In [27]:
# type your code here


mix_final = mix_list_1+mix_list_2
print(mix_final)

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [28]:
# type your code here

mix_list_2*2

[4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [6]:
# type your code here

l2 = []
for i in range(0 , len(num_list_1)):
    l2.append(num_list_1[i]*num_list_2[i])

print(l2)

[0, 10, 6, 4]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [8]:
# type your code here

mix_list = ['Python', 1, 2, 3, 'Data', True]

mix_list[0]

'Python'

**b. Second last element**

In [9]:
# type your code here

mix_list = ['Python', 1, 2, 3, 'Data', True]

mix_list[1]

1

**c. First three elements**

In [10]:
# type your code here

mix_list = ['Python', 1, 2, 3, 'Data', True]

mix_list[0:3]

['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [11]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]

mix_list[0::2]

['Python', 2, 'Data']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [12]:
# type your code here

num_list = [4, 5, 7, -2, 0, 1]

print(min(num_list))

-2

**b. Max(list)**

In [13]:
# type your code here

num_list = [4, 5, 7, -2, 0, 1]

print(max(num_list))

7

**c. Sort the elements (use sort() and sorted() function)**

In [21]:
# type your code here

num_list = [4, 5, 7, -2, 0, 1]

print(sorted(num_list))

print(num_list.sort(reverse=False))
print(num_list.sort(reverse=True))

[-2, 0, 1, 4, 5, 7]
None
None

**d. Create a copy of a list**

In [23]:
# type your code here
num_list_copy = num_list.copy()
print(num_list_copy)

[7, 5, 4, 1, 0, -2]

**e. Remove element '5' from the list**

In [27]:
# type your code here

print(f'Your List is {num_list}')

# print(num_list_copy.remove(5)) ## 5 element '5' is removed..-_-

print(num_list_copy)

Your List is [7, 5, 4, 1, 0, -2]
[7, 4, 1, 0, -2]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [30]:
# type your code here

languages_list = ['R', 'Python', 'C', 'Java']

languages_list.append('Data')

print(languages_list)

['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [43]:
# type your code here

languages_list = ['R', 'Python', 'C', 'Java']
values = ['Excel' , 'Data']
# languages_list.append('Excel')
# languages_list.append('Data')

for i in range(0,len(values)):
    languages_list.append(values[i])

    print()


print(languages_list)

['R', 'Python', 'C', 'Java', 'Excel', 'Data']

**c. Replace an element 'C' with 'C++' in the given list**

In [5]:
# type your code here

languages_list = ['R', 'Python', 'C', 'Java']
languages_list_new = []

for lang in languages_list:
    langs = lang.replace("C", "C++")
    languages_list_new.append(langs)


print(new_strings)

['R', 'Python', 'C++', 'Java']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [7]:
# type your code here

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 
                'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

print(seasons_list.count('Summer'))

4

<a id="tuple"> </a>
## 3. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [10]:
# type your code here

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

print(f'length of tuple : {len(num_tuple)}')

3

**b. Concatenate the num_tuple and mix_tuple**

In [12]:
# type your code here

add_new_tuple = num_tuple + mix_tuple
print(f'new tuple on add 2 Tuple : {add_new_tuple}')

new tuple on add 2 Tuple : (4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [13]:
# type your code here

mix_tuple*2

('John', 5, -2, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [14]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_tuple + (4,)

(['a', 1, True], 2, 'Science', -5, 4)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [20]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
l1 = list(mix_tuple)
print(l1.remove(2))
l1[1].append('3')
## tuple are immutable

None

AttributeError: 'str' object has no attribute 'append'

**b. Replace 'True' in first element of the tuple with 'False'**

In [21]:
# type your code here

mix_tuple = (['a', 1, True], 2, 'Science', -5)

mix_tuple[0][2]=False
print(mix_tuple)

(['a', 1, False], 2, 'Science', -5)

<a id="set"> </a>
## 4. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [24]:
# type your code here

num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)

print(num_set)

{1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [26]:
# type your code here

num_set = {1, 2, 3, 4, 5, 6}

num_set.discard(3)

print(num_set)

{1, 2, 4, 5, 6}

**c. Clear the set**

In [27]:
# type your code here


num_set = {1, 2, 3, 4, 5, 6}

num_set.clear()
print(num_set)

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [1]:
# type your code here

sentence_1 = 'We shall analyse the data using python .' 

sentence_2 = 'Python for data science'

set_of_words = sentence_1.split() + sentence_2.split()
print(set_of_words)

['We', 'shall', 'analyse', 'the', 'data', 'using', 'python', '.', 'Python', 'for', 'data', 'science']

**a. Find the number of unique words in the sentences**

In [5]:
# type your code here

sentence_1 = 'We shall analyse the data using python .' 

sentence_2 = 'Python for data science'
set_sen1 = set(sentence_1.split())
set_sen2 = set(sentence_2.split())

print(set_sen2 , set_sen1)

{'science', 'Python', 'data', 'for'} {'.', 'analyse', 'the', 'shall', 'using', 'We', 'python', 'data'}

**b. Find the common words in both the sentences**

In [6]:
# type your code here

set_sen1&set_sen2

{'data'}

**c. Find the unique words in both the sentences**

In [7]:
# type your code here

set_sen1|set_sen2

{'.',
 'Python',
 'We',
 'analyse',
 'data',
 'for',
 'python',
 'science',
 'shall',
 'the',
 'using'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [10]:
# type your code here
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

print(a)
print(b)

a_union_b = a.union(b)

print(a_union_b)

{1, 2, 3, 4, 5, 6, 7, 40, 71, 87}
{3, 5, 6, 7, 8, 42, 51, 54}
{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}

**b. Intersection**

In [11]:
# type your code here

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

a_intersection_B = a.intersection(b)
print(a_intersection_B)

{3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [12]:
# type your code here

A-B

{1, 2, 4, 40, 71, 87}

**d. Set of all the elements of set B that are not in set A**

In [13]:
# type your code here
B-A

{8, 42, 51, 54}

**e. Symmetric difference**

In [15]:
# type your code here

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}


a_symmetric_difference_b = A.symmetric_difference(B)

print(a_symmetric_difference_b)

{1, 2, 4, 71, 8, 40, 42, 51, 54, 87}

<a id="dict"> </a>
## 5. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to add a key to a dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [18]:
# type your code here

square_dictionary = {1:1, 2:4, 3:9}

square_dictionary[4] = 16

print(square_dictionary)

{1: 1, 2: 4, 3: 9, 4: 16}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to retrieve the keys/values of dictionary </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [21]:
# type your code here

mix_dictionary = {0:3, 'x':5, 1:2}

for key , val in mix_dictionary.items():
    print(f'key {key} : values {val}')

key 0 : values 3
key x : values 5
key 1 : values 2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a program to get the value for 'Age' from the dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [29]:
# type your code here

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

age_val = emp_record.get('Age')

print(f'This is value of Age : {age_val}')

This is value of Age : 27

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a program to create a dictionary using given keys and values</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the keys and values to create a dictionary**

key = ['a','b','c','d']

value = [1, 2, 3, 4]

In [34]:
# type your code here

key = ['a','b','c','d']

value = [1, 2, 3, 4]


dicts = {}

for i in key:
    for x in value:
        dicts[i] = x
print(dicts)

{'a': 4, 'b': 4, 'c': 4, 'd': 4}

In [33]:
for k , v in key , value:
    v = {k[key]:v[value]}
    dict_1.update(v)

ValueError: too many values to unpack (expected 2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Set the country of an employee as 'India' in the given employee record</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [35]:
# type your code here

emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

emp_record['country']='India'

In [36]:
print(emp_record)

{'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA', 'country': 'India'}

In [37]:
emp_record

{'Emp_ID': 'ES001',
 'Weight': 67,
 'BMI': 25,
 'Age': 27,
 'Profession': 'CA',
 'country': 'India'}

In [38]:
emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
emp_record.update({'country':'India'})
print(emp_record)

{'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA', 'country': 'India'}