<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b>Inclass - Lab<br> (Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [1]:
# Write your code here

def swapping_list(list1):
    list2 = list1[0]
    list1[0] = list1[-1]
    list1[-1] = list2
    return list1

my_list = [15, 78, 10, 45, 89]

swapping_list(my_list)

[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# Write your code here

gv1 = 1204
gv2 = 344536

def addition_of_two_number(x,y):
    return x+y


addition_of_two_number(gv1 , gv2)

345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# Write your code here

def even_odd(x):
    if(x%2==0):
        print("even")
    else:
        print("odd")
    return

even_odd(33)

odd

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# Write your code here

def factorial(x):
    fact=1
    for i in range(2,x+1):
        fact*=i
    return fact


factorial(5)

120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
# Write your code here

def empty_list(value,list1=[]):
    for i in value:
        my_list.append(i)
    return my_list

empty_list((1,2,3))

[89, 78, 10, 45, 15, 1, 2, 3, 1, 2, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
# Write your code here

def same_char(word1,word2):
    return word1[0].lower()==word2[0].lower()

word1 , word2 = input("enter your strings seprated with space").split(" ")
same_char(word1 , word2)

enter your strings seprated with spacevikas chauhan

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [22]:
# Write your code here
def check_vowel(string):
    list1=['a','e','i','o','u','A','E','I','0','U']
    flag = False
    for char in string:
        if char in list1:
            flag=True
            break
    return flag

string1=input("Enter a word ")
check_vowel(string1)

Enter a word yyytytytyt

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [26]:
# Write your code here
my_list = [1,2,3,3,11,34,3,3,4,5]
def uni_val(list1):
    zz=[]
    for tt in list1:
        if tt not in zz:
            zz.append(tt)
    return zz

uni_val(my_list)

[1, 2, 3, 11, 34, 4, 5]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>.
string2 = 'apple'

In [4]:
# Write your code here

string1 = 'Angel'
string2 = 'apple'


common = []

for i in string1:
    if i in string2:
        common.append(i)


print(f'common letter in both strings : {common}')

common letter in both strings : ['e', 'l']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [16]:
# Write your code here

def add_mul_sub_P(x , y):
    print(f'addition :{x+y}')
    print(f'multiplication :{x*y}')
    print(f'subtraction :{x-y}')

In [17]:
# Write your code here

def add_mul_sub_R(x ,y):
    return(f'addition :{x+y}')
    return(f'multiplication :{x*y}')
    return(f'subtraction :{x-y}')

In [18]:
add_mul_sub_P(2,3)
print(f'with print statment')

addition :5
multiplication :6
subtraction :-1
with print statment

In [19]:
add_mul_sub_P(2,3)
print(f'with return statment')

addition :5
multiplication :6
subtraction :-1
with return statment

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [20]:
# Write your code here
def sum_of_list(list1):
    sum1=0
    for u in list1:
        sum1=u+sum1
    return sum1

In [23]:
my_list = [34, 34, 55, 2, 56, 45 , 100 , 109 , 90]

In [24]:
sum_of_list(my_list)

525

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [26]:
# Write your code here

num1 = int(input("Enter any number : "))
num2 = int(input("Enter any number : "))

mini = lambda aa ,ss : aa if aa<ss else ss

print(mini(num1 , num2))

Enter any number : 29
Enter any number : 09
9

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [27]:
# Write your code here

def sqre(x):
    return x**2

In [28]:
number = (11, 21, 30, 34)

In [30]:
list(map(sqre, number))

[121, 441, 900, 1156]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [74]:
sentence = 'Python for Data Science'
length_word=list(map(lambda x:len(x),sentence.split()))
length_word

# Write your code here

[6, 3, 4, 7]

In [80]:
# Write your code here

def len_of_word(x):
    return (f'lenght of word is -> {len(x)}')

In [81]:
sentence1 = sentence.split()

In [82]:
print(sentence1)

['Python', 'for', 'Data', 'Science']

In [83]:
print(
    list(
        map(len_of_word , sentence1))
)

['lenght of word is -> 6', 'lenght of word is -> 3', 'lenght of word is -> 4', 'lenght of word is -> 7']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [85]:
# Write your code here

def div_5_all_num(x):
    return x%5

In [86]:
numbers = [74, 85, 14, 23]

In [87]:
list(map(div_5_all_num, numbers))

[4, 0, 4, 3]

In [88]:
div_5_all_num_lambda = lambda x : x%5

In [89]:
# with function 

list(map(div_5_all_num, numbers))

[4, 0, 4, 3]

In [90]:
# with lambda 

list(map(div_5_all_num_lambda, numbers))

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [93]:
# Write your code here


list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]

list3 =[]

In [100]:
def concat_2_list(x, y):
    return str(x)+str(y)

In [101]:
list(map(concat_2_list , list1 , list2))

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [1]:
# Write your code here

arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

In [2]:
check_same = filter(lambda y:y in arr1,arr2)

In [4]:
list(check_same)

['o', 'i', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [7]:
# Write your code here
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
odd_remove = list(filter(lambda f : f%2==0 , numbers))
odd_remove

[110, 352, 278]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# Write your code here
import functools as ft 
sum1= 0 
sum_1_to_100 = ft.reduce(lambda  q,w:q+w,range(1,101))
sum_1_to_100

5050

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [11]:
# Write your code here

# Write your code here
my_list = [47,11,42,102,13]
maximum=ft.reduce(lambda a,s:a if a>s else s,my_list)
maximum

102