<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here
print("Hello,How are you?")

Hello,How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [37]:
# type your code here
x='*'
print('    ',x,'    ')
print('   ',x*3,'   ')
print('  ',x*5,'  ')
print(' ',x*7,' ')
print('',x*9,'')
print('    *    ')
print('   ***   ')
print('  *****  ')
print(' ******* ')
print('*********')
print('''
           *
          ***
         *****
        *******
       *********
    ''')

     *
    ***
   *****
  *******
 *********
    *
   ***
  *****
 *******
*********

           *
          ***
         *****
        *******
       *********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [36]:
# type your code here
print('A','B','C',sep='\n')
print('''A
B
C''')
print('A \nB \nC')

A
B
C
A
B
C
A
B
C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [42]:
# type your code here
x= 'My name is juhi'
print(x)

My name is juhi

In [43]:
x

'My name is juhi'

In [44]:
print(type(x))

<class 'str'>

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [46]:
# type your code here
x=10
print(x)
print(type(x))

10
<class 'int'>

ii. A fractional variable

In [53]:
# type your code here
y=10.5
print("The value of y is",y)
print("The datatype of b is",type(y))

The value of y is 10.5
The datatype of b is <class 'float'>

**Declare a boolean variable and check its data type.**

In [51]:
# type your code here
x=True
print(x)
print(type(x))

True
<class 'bool'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
# type your code here
comp_var=10+20j
print(comp_var)

(10+20j)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [39]:
# type your code here
f=23.45
int(f)
type(int(f))

int

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [55]:
# type your code here
a=20
str(a)

'20'

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [57]:
# type your code here
print(145*354-1345/45+(462+23)/3)

51461.777777777774

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [65]:
# type your code here
a=1353+234
print(a)
b=2355-346
print(b)
c=234*457
print(c)
d=25/6
print(d)
e=25%6
print(e)
f=33**4
print(f)
g=45//6
print(g)
h=2**10
print(h)

1587
2009
106938
4.166666666666667
1
1185921
7
1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [81]:
# type your code here
height=float(input('Please enter your height in meters: '))
weight=float(input('Please enter you weight in kilograms: '))
BMI=weight/(height**2)
print("The BMI is ",BMI)
print(round(BMI,2))

Please enter your height in meters: 1.641
Please enter you weight in kilograms: 65
The BMI is  24.13771718839414
24.14

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [70]:
# type your code here
a=(54+34)*45
b=(0.9*2432)/0.9
print(a)
print(b)
print(a==b)

3960
2432.0
False

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [73]:
# type your code here
x="Hello, My name is Juhi Bansal. "
y="It was nice to meet you"
print(x+y)

Hello, My name is Juhi Bansal. It was nice to meet you

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [80]:
# type your code here
num=34
string="How old are you?"
print(string+' ' +str(num))

How old are you? 34

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

# type your code here
1. iterator = 1
2. result= 5*iterator
3. iterator = iterator+1
4. Repeat step 2 and 3 upto 10 times

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

# type your code here
1.number1=0
2.number2=1
3.Display number1,number2 
4.read the number
5.number3=number1+number2
6.Display number3
7.number1=number2 and number2=number3
8.Repeat step 4,5,6 and 7 for 10-2=8times.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

# type your code here
1. read numbers x and y
2. if x>y display x is greater than y
3. otherwise display y is greater than x

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

# type your code here
1. read the number
2. calculate reminder of number when divide by 7 and store it as rem
3. if rem is 0,display number is divisible by 7
4. otherwise display number is not divisible by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

# type your code here
1.Read the number
2.if number is zero display factorial of a number is 1
3.else if number is less than zero display factorial does not exist
4.else we initialize fact as 1 and 
            for i from 1 to 10 
            fact=fact*i and 
            display fact

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

# type your code here
1. Read the number.
2. Calculate reminder when number is divided by 2 to number-1 and store it as rem
3. If rem !=0 display the number is prime
4. Otherwise the number is not prime